@font-face {
  font-family: "suzukiproheadline";
  src: url('../fonts/SuzukiPROHeadline.woff2') format('woff2'),
       url('../fonts/SuzukiPROHeadline.woff') format('woff');
}

@font-face {
  font-family: "suzukiproregular";
  src: url('../fonts/SuzukiPRORegular.woff2') format('woff2'),
       url('../fonts/SuzukiPRORegular.woff') format('woff');
}

@font-face {
  font-family: "suwannaaphum";
  src: url('../fonts/Suwannaphum.woff2') format('woff2'),
       url('../fonts/Suwannaphum.woff') format('woff');
}

@font-face {
  font-family: "helveticaneuecyr";
  src: url('../fonts/HelveticaNeueCyr.woff2') format('woff2'),
       url('../fonts/HelveticaNeueCyr.woff') format('woff');
}

