.header {
	padding: 5px 0 15px 0;

	&__container {
		justify-content: space-between;
		align-items: center;
	}
}

.logos {
	display: flex;
}

.logo {
	display: flex;
	align-items: center;
	margin-right: 15px;

	&__one {
		border: 1px solid #fff;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}

	&__two {
		margin-right: 40px;
	}

	&__text {
		width: 185px;
		font-size: 14px;
	}
}

.phone {
	display: flex;
	flex-direction: column;
	text-align: right;

	&__number {
		font-family: "suzukiproheadline";
		font-weight: bold;
		font-size: 25px;
		color: #000;
	}

	&__link {
		font-size: 14px;
		color: $blue;

		&:hover {
			text-decoration: underline;
		}
	}
}


@media (max-width: 769px) {

	.header__container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.phone {
		text-align: center;
	}

	.logo__text {
		padding-top: 5px;
	}

	.logo__two {
		margin-right: 15px;
	}

}

@media (max-width: 600px) {

	.logos {
		flex-direction: column;
		justify-content: center;
	}

	.logo {
		margin-right: 0;
		margin-bottom: 10px;
	}

	.logo__text {
		text-align: center;
		margin-bottom: 10px;
	}

	.logo__img {
		margin: 0 auto;
	}

}