.slider {
  position: relative;
  
  &__list {
    width: 100%;
    height: 100%;
  }

  &__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1.2s;
    -moz-transition: opacity 1.2s;
    -o-transition: opacity 1.2s;
    transition: opacity 1.2s;

    &.showing {
      opacity: 1;
      z-index: 2;
    }
  }

  &__img {
    display: block;
    max-width: 100%;
  }

  &__desc {
    width: 95%;
    max-width: 1040px;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
  }

  &__name {
    font-size: 38px;
  }

  &__price {
    font-family: "suzukiproheadline";
    font-size: 88px;

    &:after {
      content: '';
      display: inline-block;
      width: 29px;
      height: 9px;
      background-color: #fff;
      vertical-align: middle;
      margin-left: 40px;
    }
  }

  &__link {
    display: block;
    width: 270px;
    height: 66px;
    background-color: $blue;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    line-height: 66px;

    &:hover {
      background-color: $light-blue;
      transition: .3s;;
    }
  }

  &__arrows {
    display: flex;
    width: 100%;
    max-width: 1040px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
  }

  &__arrow {
    display: block;
    width: 70px;
    height: 2px;
    background-color: #fff;
    margin-right: 15px;
    outline: none;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      background-color: $blue;
    }
  }
}

@media (max-width: 1170px) {
  .slider__name {
    font-size: 30px;
  }
  .slider__price {
    font-size: 60px;
  }
  .slider__link {
    width: 250px;
    height: 46px;
    line-height: 46px;
    font-size: 18px;
  }
}

@media (max-width: 1100px) {
  .slider__arrows {
    bottom: 40px;
    left: 53%;
  }
}

@media (max-width: 930px) {
  .slider__arrows {
    bottom: 30px;
  }
  .slider__desc {
    top: 30px;
  }
}

@media (max-width: 769px) {
  .slider__name {
    font-size: 24px;
  }
  .slider__price {
    font-size: 48px;
  }
  .slider__link {
    width: 200px;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
  }
}

@media (max-width: 680px) {
  .slider__name {
    font-size: 20px;
  }
  .slider__price {
    font-size: 38px;
  }
  .slider__price::after {
    width: 20px;
    height: 6px;
    margin-left: 20px;
  }
  .slider__link {
    width: 200px;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
  }
  .slider__arrows {
    bottom: 15px;
  }
  .slider__desc {
    top: 15px;
  }
}

@media (max-width: 535px) {
  .slider__name {
    font-size: 16px;
  }
  .slider__price {
    font-size: 26px;
  }
  .slider__price::after {
    width: 15px;
    height: 4px;
    margin-left: 10px;
  }
  .slider__link {
    width: 150px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
  }
  .slider__arrows {
    bottom: 15px;
  }
  .slider__desc {
    top: 15px;
  }
}

@media (max-width: 430px) {
  .slider__name {
    font-size: 13px;
  }
  .slider__price {
    font-size: 20px;
  }
  .slider__price::after {
    width: 12px;
    height: 3px;
    margin-left: 8px;
  }
  .slider__link {
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 11px;
  }
  .slider__arrows {
    bottom: 5px;
    left: 95%;
  }
}